__pycache__/*
.ipynb_checkpoints/*
*.pth
wandb/*
*.a3m
*.fasta
*.seq
*.log
*.txt
*.ipynb
*.png
*.out
ebd/*
c1000_msa/*
split_ebd/*
ur90_ebd/*
t1000_ebd/*
random_ebd/*
split_train/*
split_train_new/*
split_ebd_continue/*
pred/*
pred-202108192300/*
align_pred/*
fseq_ebd_v1/*
fseq_ebd_v2/*
test/*
test_index/*
test-env/*

