__pycache__/*
*.pth
wandb/*
*.a3m
*.fasta
*.seq
*.log
*.txt
*.ipynb
ebd/*
split_ebd/*
ur90_ebd/*
t1000_ebd/*
random_ebd/*
split_train/*
split_train_new/*
split_ebd_continue/*
pred/*
pred-202108192300/*
align_pred/*

